<%- include('header') %>
   <div class="box">
            <% newItem.forEach((x) => { %>
                <% if(x !== '') { %>
                    <%const y = x.toLowerCase().split(' ').map((a) => { %>
                     <% return a.replace(a[0], a[0].toUpperCase())}).join('')%>
                    <div class="item" id="<%= y %>">
                        <input type="checkbox">
                        <p><%= x %></p>
                        <ion-icon name="trash-outline" class="delete" onclick="deleteItem(<%=y%>)"></ion-icon>
                    </div>
                 <%}%>
             <%})%>
        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="Add new item" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
    </div>
<%- include('footer') %>